.fullscreen {
    padding-top: 13%; 
    width: 100%;
    background-color: #212121;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 1)), url("sources/cover.jpg");
    background-size: cover;
    color: white;
    position: relative;
    top: -64px; 
    padding-left: 5%;

}

.one {
    margin-top: 55px;
}
#phone {
    position: relative;
    top: -20px;
    width: 30%;
}
#phone2 {
    width: 40%;
    margin-left: 30%;
    padding-bottom: 10%;
    margin-top: 135px;
}
.two {
    margin-top: 95px;
}

#phone3 {
   width: 90%;
   margin-left: 5%;
}

#phone4 {
    width: 70%;
    margin-left: 15%;
}

nav {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

#dl {
    color: black;
    border-radius: 20px;
}
#dl2 {
    color: yellow;
    background-color: transparent;
    border-radius: 20px;
    border: solid 1px yellow;
}


.brand-logo {
    color: rgba(0, 0, 0, 0, 0,1) !important;
    padding: 0px 20px !important;
}

.hero-title {
    margin-top: 7%;
    padding: 0px 20px;
  }
  
.btn-large {
    background-image: url('sources/download_android.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 29%;
    height: 65px !important;
}

#large2 {
    background-image: url('sources/download_ios.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 12%;
}

.benefices {
    background-color: #212121;
    color: white;
    margin-top: -13%;
    /* margin-bottom: -13px */
}
 .work {
     padding-left: 8%;
     padding-top: 10%;
     background-color: #212121;
     color: white;
     margin-top: -2%;
     padding-bottom: 5%;
 }
.Features {
    padding-top: 5%;
    background-color: #212121;
    color: white;
    padding-bottom: 10%;
}

h5, h6 {
    color: #f3d912;
}

h1 {
    color: white;
}
hr {
    width: 90%;
    color: #f3d912 !important;
}
.text {
    margin-top: 10%;
}

p {
    color: grey;
}

.Reviews {
    background-color: #212121;
    margin-top: -4%;
    text-align: center;
    padding-bottom: 8%;
}

.Download {
    background-color: yellow;
    padding-top: 7%;
    margin-bottom: 5%;
}

.footer {
    padding-left: 5%;
    margin-top: -5%;
    background-color: #424242;
    padding-bottom: 1%;
    padding-top: 2%;
}

#input {
    background-color: white;
    border: solid 1px white;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-right: 2%;
     
}

.log {
    margin-top: 5%;
    color: white;
    margin-left: 10%;
}

@media screen and (max-width: 640px) {
    .fullscreen {
        padding-top: 155px;
    }
    h1, h4 {
        font-size: 30px !important;
    }
   .btn-large {
       min-width: 210px;
       height: 30px;
   }
   #phone {
    top: 220px;
    width: 35%;
    }
   .benefices {
    background-color: #212121;
    color: white;
    margin-top: -30%;
    /* margin-bottom: -13px */
    }
    #large2 {
        margin-left: 1px !important;
        margin-top: 4px;
    }
    
}